<section class="content-header">
  <h1>
    Enquiries
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Email</th>
                <th>Contact no</th>
                <th>Enquiry Date</th>
                <th>Enrolled Course</th>
                <th>Enrolled Status</th>
                <th>Name</th>
                <th>Follow Up</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let enquiry of enquiries">
                <td>{{enquiry.email}}</td>
                <td>{{enquiry.contactNo}}</td>
                <td>{{enquiry.enquiryDate| date:'mediumDate'}}</td>
                <td>{{enquiry.course.courseName}}</td>
                <td>{{enquiry.enrollStatus.name}}</td>
                <td>{{enquiry.firstname}} {{enquiry.lastname}}</td>
                <td>
                  <button style="display: inline;margin-right: 10px;" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#followModal"
                    (click)="getAllFollowUp(enquiry,1)">
                    <span class="fa fa-plus-circle"></span>
                  </button>
                  <p style="display: inline;margin-right: 10px;"> {{enquiry.follow_up_count}} </p>
                  <button style="display: inline;margin-right: 10px;" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#followModal"
                    (click)="getAllFollowUp(enquiry,0)">
                    <span class="fa fa-history"></span>
                  </button>
                </td>
                <td>
                  <button type="button" id="enroll" class="btn btn-success btn-xs" (click)="showEnrollForm(enquiry)" data-toggle="modal" data-target="#enroll-modal">Enroll</button>
                  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showEditForm(enquiry)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Email</th>
                <th>Contact no</th>
                <th>Enquiry Date</th>
                <th>Enrolled Course</th>
                <th>Enrolled Status</th>
                <th>Name</th>
                <th>Follow Up</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- insert modal goes here -->
<div id="insert-update-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="EnrollModalUsername">{{formTitle}}.</h4>
      </div>
      <div class="modal-body" id="datahere">
        <form id="insert-form" method="post">
          <div class="col-md-6">
            <div class="form-group">
              <label>Firstname</label>
              <input type="text" name="firstname" class="form-control" [(ngModel)]="formData.firstname" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Lastname</label>
              <input type="text" name="lastname" class="form-control" [(ngModel)]="formData.lastname" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="formData.email" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact no</label>
              <input type="text" name="contactNo" class="form-control" [(ngModel)]="formData.contactNo" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Message</label>
              <input type="text" name="message" class="form-control" [(ngModel)]="formData.message" required="required">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Course</label>
              <select class="form-control form-control-sm" name="course.courseId" [(ngModel)]="formData.course.courseId">
                <option *ngFor="let c of courses" value="{{c.courseId}}">{{c.courseName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Enroll status</label>
              <select class="form-control form-control-sm" name="enrollStatus.enrollId" [(ngModel)]="formData.enrollStatus.enrollId">
                <option *ngFor="let e of enrollstatuses" value="{{e.enrollId}}">{{e.name}}</option>
              </select>
            </div>
            <input type="submit" value="{{buttonName}}" (click)="save(formData)" class="btn btn-success btn-xs" data-dismiss="modal"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- insert modal ends here-->

<!-- followup Modal goes here -->
<div id="followModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="followModalUsername">Follow up for
          <strong>{{formData.firstname}} {{formData.lastname}}</strong>
        </h4>
      </div>
      <div class="modal-body">
        <!--follow up body goes here-->
        <div class="FollowUp-box">
          <div class="box-body chat" *ngFor="let f of followups">
            <div class="item">
              <img src="{{f.profile}}" alt="user image" class="offline">
              <p class="message">
                <a href="#" class="name">
                  <small class="text-muted pull-right">
                    <i class="fa fa-clock-o"></i> {{f.created_date}}</small>
                  {{f.username}}
                </a>
                {{f.followMessage}}
              </p>
            </div>
          </div>
        </div>
        <div class="box-footer" *ngIf="isShow">
          <form id="followup-form">
            <div class="input-group">
              <input name="followMessage" class="form-control" placeholder="Type follow up message..." required="required" [(ngModel)]="followMessage.followMessage">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" (click)="saveFollowUp(followMessage)" data-dismiss="modal">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!--follow up modal ends here-->

<!-- enroll modal goes here -->
<div id="enroll-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="followModalUsername">Enroll {{formData.firstname}} {{formData.lastname}} ?</h4>
      </div>
      <div class="modal-body">
        <form id="enroll-form">
          <div class="col-md-6">
            <div class="form-group">
              <label>Course</label>
              <select class="form-control form-control-sm" name="courseId" [(ngModel)]="enrollment.courseId">
                <option *ngFor="let c of courses" value="{{c.courseId}}">{{c.courseName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Batch</label>
              <select class="form-control form-control-sm" name="batchId" [(ngModel)]="enrollment.batchId">
                <option *ngFor="let b of batches" value="{{b.batchId}}">{{b.batchCode.batchCode}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Discount (In %)</label>
              <select class="form-control form-control-sm" name="discountId" [(ngModel)]="enrollment.discountId">
                <option *ngFor="let d of discounts" value="{{d.discountId}}">{{d.discount}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Time</label>
              <select class="form-control form-control-sm" name="timeId" [(ngModel)]="enrollment.timeId">
                <option *ngFor="let t of times" value="{{t.timeId}}">{{t.time}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Status</label>
              <select class="form-control form-control-sm" name="status" [(ngModel)]="enrollment.status">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-xs" (click)="saveEnrollment(enrollment)" data-dismiss="modal">Enroll</button>
              <!--  <input type="submit" value="Enroll" class="btn btn-success btn-small" ng-click="enroll()"/>-->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Enroll modal ends here-->
