<section class="content-header">
  <h1>
    Banks
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Bank Name</th>
                <th>Location</th>
                <th>Account no</th>
                <th>Create date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of banks">
                <td>{{b.bankName}}</td>
                <td>{{b.bankLocation}}</td>
                <td>{{b.accountno}}</td>
                <td>{{b.createdDate| date:'mediumDate'}}</td>
                <td>
                  <button (click)="showEditForm(b)" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#insert-update-modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Bank Name</th>
                <th>Location</th>
                <th>Account no</th>
                <th>Create date</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- insert update modal goes here -->
<div id="insert-update-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{formTitle}}.</h4>
      </div>
      <div class="modal-body">
        <!--insert form goes here-->
        <form>
          <div class="form-group">
            <label>Bank Name</label>
            <input type="text" name="bankName" [(ngModel)]="formData.bankName" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Location</label>
            <input type="text" name="bankLocation" [(ngModel)]="formData.bankLocation" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Account no.</label>
            <input type="text" name="accountno" [(ngModel)]="formData.accountno" class="form-control" required="required">
          </div>

          <div class="form-group">
            <input type="submit" value="{{buttonName}}" data-dismiss="modal" (click)="save(formData)" class="btn btn-success btn-xs">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- add modal ends here-->