<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{profile}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/enquiry">
          <i class="fa fa-comments-o"></i>
          <span>Enquiry</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/batch">
          <i class="fa fa-calendar"></i>
          <span>Batch</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/course">
          <i class="fa fa-th"></i>
          <span>Course</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/instructor">
          <i class="fa fa-user-circle"></i>
          <span>Instructor</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/student">
          <i class="fa fa-th"></i>
          <span>Student</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/calendar">
          <i class="fa fa-calendar"></i>
          <span>Calendar</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/mail">
          <i class="fa fa-envelope"></i>
          <span>Mail</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/enrollment">
          <i class="fa fa-rocket"></i>
          <span>Enrollment</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/branch">
          <i class="fa fa-suitcase"></i>
          <span>Branch</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/staff">
          <i class="fa fa-user-secret"></i>
          <span>Staff</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/promotion">
          <i class="fa fa-user-secret"></i>
          <span>Promotion</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a href="#">
          <i class="fa fa-money"></i>
          <span>Expenses</span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="/bank">
              <i class="fa fa-bank"></i> Bank</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/bankVoucher">
              <i class="fa fa-tags"></i>Bank Voucher</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/pca">
              <i class="fa fa-dollar"></i>PC allocation</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/pce">
              <i class="fa fa-rupee"></i>PC expenses</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://adminlte.io/docs">
          <i class="fa fa-book"></i>
          <span>Documentation</span>
        </a>
      </li>
      <li class="header">LABELS</li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-red"></i>
          <span>Important</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-yellow"></i>
          <span>Warning</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-aqua"></i>
          <span>Information</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>