<section class="content-header">
  <h1>
    Branch
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Added Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of branches">
                <td>{{b.branchName}}</td>
                <td>{{b.branchLocation}}</td>
                <td>{{b.addedDate| date:'mediumDate'}}</td>
                <td>
                  <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal" (click)="showEditForm(b)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Added Date</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- insert modal goes here -->
<div id="insert-update-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{formTitle}}.</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Branch name</label>
            <input type="text" name="branchName" class="form-control" [(ngModel)]="formData.branchName" required="required">
          </div>
          <div class="form-group">
            <label>Location</label>
            <input type="text" name="branchLocation" class="form-control" [(ngModel)]="formData.branchLocation" required="required">
          </div>
          <div class="form-group">
            <label>Status</label>
            <select class="form-control form-control-sm" name="status" [(ngModel)]="formData.status">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <input type="submit" value="{{buttonName}}" (click)="save(formData)" class="btn btn-success btn-xs" data-dismiss="modal"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- insert modal ends here-->