<section class="content-header">
  <h1>
    Batch List
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table id="table" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>                
                <th>Id</th>
                <th>Course</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Batch</th>
                <th>Payment Status</th>
                <th>Facilator Name</th>
                <th class="noExport">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of batches">
                <td>{{b.batchId}}</td>
                <td>{{b.course.courseName}}</td>
                <td>{{b.startDate}}</td>
                <td>{{b.endDate}}</td>
                <td>{{b.batchCode.batchCode}}</td>
                <td>{{b.paymentStatus}}</td>
                <td>{{b.faculty.firstname}} {{b.faculty.lastname}}</td>
                <td>
                  <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal" (click)="showEditForm(b)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <!--                                                    <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>-->
                  <button type="button" class="btn btn-xs btn-success" ng-hide="b.agreement == null">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                  </button>
                  <button type="button" class="btn btn-xs btn-success" (click)="getStudents(b)" data-toggle="modal" data-target="#studentModal">
                    <span class="fa fa-user"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Course</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Batch</th>
                <th>Payment Status</th>
                <th>Facilator Name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="insert-update-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{formTitle}}</h4>
        </div>
      </div>
      <div class="modal-body">

        <form>
          <div class="col-md-6">
            <div class="form-group">
              <label>Facilator</label>
              <select class="form-control form-control-sm" name="faculty.facultyId" [(ngModel)]="formData.faculty.facultyId">
                <option *ngFor="let i of instructors" value="{{i.facultyId}}">{{i.firstname}} {{i.lastname}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Course</label>
              <select class="form-control form-control-sm" name="course.courseId" [(ngModel)]="formData.course.courseId">
                <option *ngFor="let c of courses" value="{{c.courseId}}">{{c.courseName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Start date</label>
              <div class='input-group date' id='datetimepicker_start'>
                <input type='text' class="form-control" name="startDate" [(ngModel)]="formData.startDate" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>End date</label>
              <div class='input-group date' id='datetimepicker_end'>
                <input type='text' class="form-control" name="endData" [(ngModel)]="formData.endDate" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Time</label>
              <select class="form-control form-control-sm" name="time.timeId" [(ngModel)]="formData.time.timeId">
                <option *ngFor="let t of times" value="{{t.timeId}}">{{t.time}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Payment status</label>
              <select class="form-control form-control-sm" name="status" [(ngModel)]="formData.paymentStatus">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Status</label>
              <select class="form-control form-control-sm" name="status" [(ngModel)]="formData.status">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="{{buttonName}}" class="btn btn-success btn-xs" data-dismiss="modal" (click)="save(formData)">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- myModal ends here-->

<!-- student modal goes here -->
<div class="modal fade" id="studentModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Student list for this batch.</h4>

      </div>
      <div class="modal-body">
        <div class="FollowUp-box">
          <div class="box-body chat" *ngFor="let student of students">
            <div class="item">
              <img src="{{student.studentAvatar}}" alt="user image" class="offline">
              <p class="message">
                <a href="#" class="name">
                  {{student.firstName}} {{student.lastName}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- student modal ends here-->