<section class="content-header">
  <h1>
    Mailbox
    <small>13 new messages</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Mailbox</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <a href="" class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#compose-modal">Compose</a>

      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Folders</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                <i class="fa fa-inbox"></i> Inbox
                <span class="label label-primary pull-right">12</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope-o"></i> Sent</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-file-text-o"></i> Drafts</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-filter"></i> Junk
                <span class="label label-warning pull-right">65</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-trash-o"></i> Trash</a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Labels</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="#">
                <i class="fa fa-circle-o text-red"></i> Important</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-circle-o text-yellow"></i> Promotions</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-circle-o text-light-blue"></i> Social</a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Inbox</h3>

          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
              <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-trash-o"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-reply"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-share"></i>
              </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm">
              <i class="fa fa-refresh"></i>
            </button>
            <div class="pull-right">
              1-50/200
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
              <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let mail of mails">
                  <td>
                    <input type="checkbox">
                  </td>
                  <td class="mailbox-star">
                    <a href="#">
                      <i class="fa fa-star text-yellow"></i>
                    </a>
                  </td>
                  <td class="mailbox-name">
                    <a href="read-mail.html">{{mail.sendTo}}</a>
                  </td>
                  <td class="mailbox-subject">
                    <b>{{mail.subject}}</b> - {{mail.message}}
                  </td>
                  <td class="mailbox-attachment">
                    <i class="fa fa-paperclip"></i>
                  </td>
                  <td class="mailbox-date">{{mail.sendDate| date:'mediumDate'}}</td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
              <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-trash-o"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-reply"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-share"></i>
              </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm">
              <i class="fa fa-refresh"></i>
            </button>
            <div class="pull-right">
              1-50/200
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
              <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->



<div class="modal fade" id="compose-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Compose new message.</h3>

            <div class="box-tools pull-right">                            
              <button type="button" class="btn btn-box-tool" data-dismiss="modal"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="mail.sendTo" name="sendTo" placeholder="To:">
            </div>
            <div class="form-group">
              <input class="form-control" [(ngModel)]="mail.subject" name="subject" placeholder="Subject:">
            </div>
            <div class="form-group">
              <textarea id="compose-textarea" [(ngModel)]="mail.message" name="message" class="form-control" style="height: 300px">
                    <h1><u>Heading Of Message</u></h1>
                    <h4>Subheading</h4>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                      was born and I will give you a complete account of the system, and expound the actual teachings
                      of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                      dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
                      how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again
                      is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                      but because occasionally circumstances occur in which toil and pain can procure him some great
                      pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
                      except to obtain some advantage from it? But who has any right to find fault with a man who
                      chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that
                      produces no resultant pleasure? On the other hand, we denounce with righteous indignation and
                      dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so
                      blinded by desire, that they cannot foresee</p>
                    <ul>
                      <li>List item one</li>
                      <li>List item two</li>
                      <li>List item three</li>
                      <li>List item four</li>
                    </ul>
                    <p>Thank you,</p>
                    <p>John Doe</p>
                  </textarea>
            </div>
            <div class="form-group">
              <div class="btn btn-default btn-file">
                <i class="fa fa-paperclip"></i> Attachment
                <input type="file" name="attachment">
              </div>
              <p class="help-block">Max. 32MB</p>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div class="pull-right">
              <button type="button" class="btn btn-default">
                <i class="fa fa-pencil"></i> Draft</button>
              <button type="submit" class="btn btn-primary" (click)="sendMail()">
                <i class="fa fa-envelope-o"></i> Send</button>
            </div>
            <button type="reset" class="btn btn-default">
              <i class="fa fa-times"></i> Discard</button>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /. box -->
      </div>    
    </div>
  </div>
</div>
<!--modal ends here-->