<section class="content-header">
  <h1>
    Petty Cash Allocations
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Released date</th>
                <th>Release By</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pca of pcas">
                <td>{{pca.amount}}</td>
                <td>{{pca.releasedDate| date:'mediumDate'}}</td>
                <td>{{pca.releasedBy.username}}</td>
                <td>
                  <a href="#" (click)="showEditForm(pca)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Amount</th>
                <th>Released date</th>
                <th>Release By</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- insert Modal  goes here-->
<div class="modal fade" id="insert-update-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Petty Cash Allocation.</h4>
      </div>
      <div class="modal-body">
        <!-- form start -->
        <form>
          <div class="form-group">
            <input type="number" name="amount" [(ngModel)]="formData.amount" class="form-control" placeholder="Enter allocation amount."
            />
          </div>
          <input type="submit" value="{{buttonName}}" class="btn btn-success btn-xs" data-dismiss="modal" (click)="save(formData)"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal ends here-->