<section class="content-header">
  <h1>
    Courses
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</button>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->          
          <table id="table" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Fee</th>
                <th>Added Date</th>
                <th>Status</th>
                <th>Name</th>
                <th class="noExport">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{course.courseId}}</td>
                <td>{{course.code}}</td>
                <td>{{course.fees}}</td>
                <td>{{course.addedDate| date:'mediumDate'}}</td>
                <td>{{course.status}}</td>
                <td>{{course.courseName}}</td>
                <td>
                  <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal" (click)="showEditForm(course)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Code</th>
                <th>Fee</th>
                <th>Added Date</th>
                <th>Status</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->



<div class="modal fade" id="insert-update-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{formTitle}}</h4>
      </div>
      <div class="modal-body">
        <!-- form start -->
        <form>
          <div class="form-group ">
            <label>Course name</label>
            <input type="text " class="form-control" name="courseName" [(ngModel)]="newCourse.courseName " required="required ">
          </div>
          <div class="form-group ">
            <label>Code</label>
            <input type="text " class="form-control" name="code" [(ngModel)]="newCourse.code " required="required ">
          </div>
          <div class="form-group ">
            <label>Fees</label>
            <input type="number " class="form-control" name="fees" [(ngModel)]="newCourse.fees " required="required ">
          </div>
          <p>
            <button type="button " class="btn btn-success btn-xs " (click)="saveCourse(newCourse) " data-dismiss="modal">Submit</button>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--modal ends here-->