<section class="content-header">
  <h1>
    Petty Cash Expenses
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" data-toggle="modal" data-target="#insert-update-modal">
        <i class="fa fa-plus"></i> Add</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Spent date</th>
                <th>Spent by</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pce of pces">
                <td>{{pce.amount}}</td>
                <td>{{pce.expDate| date:'mediumDate'}}</td>
                <td>{{pce.expBy.username}}</td>
                <td>
                  <a href="#" (click)="showEditForm(pca)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Amount</th>
                <th>Spent date</th>
                <th>Spent by</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->