<div class="wrapper">
  <app-appheader></app-appheader>
  <app-appmenu></app-appmenu>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <router-outlet>          
    </router-outlet>
  </div>

  <app-appfooter></app-appfooter>
  <app-appsetting></app-appsetting>
</div>