<section class="content-header">
  <h1>
    Promotions
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" data-toggle="modal" data-target="#insert-update-modal">
        <i class="fa fa-plus"></i> Add</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Link</th>
                <th>Image Path</th>
                <th>IsCourse</th>
                <th>Added Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of promotions">
                <td>{{p.promotionTitle}}</td>
                <td>{{p.description}}</td>
                <td>{{p.link}}</td>
                <td>{{p.imagePath}}</td>
                <td>{{p.isCourse}}</td>
                <td>{{p.addedDate| date:'mediumDate'}}</td>
                <td>
                  <a href="#" ng-click="selectPromotion(p)" class="btn btn-xs btn-success" data-toggle="modal" data-target="#update-modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Link</th>
                <th>Image Path</th>
                <th>IsCourse</th>
                <th>Added Date</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->