<section class="content-header">
  <h1>
    Enrollments
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <!-- <a href="#" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddCourseForm()">
        <i class="fa fa-plus"></i> Add</a> -->
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table id="table" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Enrollment Id</th>
                <th>Enrolled Course</th>
                <th>Batch no</th>
                <th>Time</th>
                <th>Discount</th>
                <th>Fees</th>
                <th>Enrolled date</th>
                <th>Name</th>
                <th class="noExport">Payment Status</th>
                <th class="noExport">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of enrollments">
                <td>{{e.enrollmentId}}</td>
                <td>{{e.courseName}}</td>
                <td>{{e.batchCode}}</td>
                <td>{{e.time}}</td>
                <td>{{e.discount}}%</td>
                <td>{{e.fees}}</td>
                <td>{{e.enrolledDate| date:'mediumDate'}}</td>
                <td>{{e.firstName}} {{e.lastName}}</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div ngClass="{{e.paidPercentage > 50 ?  'progress-bar progress-bar-success':'progress-bar progress-bar-danger' }}" [style.width.%]="e.paidPercentage"></div>
                  </div>
                </td>
                <td>
                  <!-- <button type="button" class="btn btn-success btn-xs">
                    <span class="fa fa-pencil"></span>
                  </button> -->
                  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#payment-modal" (click)="showPaymentForm(e)">Payment</button>
                  <button *ngIf="e.paidPercentage==100" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#payment_modal">Create Vat Bill</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Enrolled Course</th>
                <th>Batch no</th>
                <th>Time</th>
                <th>Discount</th>
                <th>Fees</th>
                <th>Enrolled date</th>
                <th>Name</th>
                <th>Payment Status</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- payment modal goes here -->
<div id="payment-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Payment.</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{enrollment.firstName}} {{enrollment.lastName}}</h3>
              <h5 class="widget-user-desc">{{enrollment.courseName}}</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="{{enrollment.studentAvatar}}" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{enrollment.fees}}</h5>
                    <span class="description-text">TOTAL</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{calc.newPaidAmount}}</h5>
                    <span class="description-text">PAID</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">{{calc.newRemAmount}} ({{100-calc.newRemPercentage | number}}%)</h5>
                    <span class="description-text">REMAINING</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="progress progress-xs progress-striped active">
                <div ngClass="{{enrollment.paidPercentage > 50 ?  'progress-bar progress-bar-success':'progress-bar progress-bar-danger' }}"
                  [style.width.%]="enrollment.paidPercentage"></div>
              </div>
              <!--payment form goes here-->
              <form id="payment-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control" name="amount" placeholder="Amount" required="required" [(ngModel)]="payment.amount"
                      (keyup)="calculation()" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" name="paymentType" [(ngModel)]="payment.paymentType">
                      <option value="true">Cheque</option>
                      <option value="false">Cash</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="payment.paymentType == 'true' ">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="bank" placeholder="Bank" [(ngModel)]="payment.bank" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="checkNo" placeholder="Cheque No." [(ngModel)]="payment.checkNo" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="receiptNo" placeholder="Receipt No." required="required" [(ngModel)]="payment.receiptNo"
                    />
                  </div>
                  <input type="submit" class="btn btn-success btn-xs" data-dismiss="modal" value="Pay." (click)="savePayment(payment)" />
                </div>
              </form>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- payment_modal ends here -->