<section class="content-header">
  <h1>
    Students
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
        <button class="btn btn-danger btn-xs" (click)="exportToCsv()">
            <i class="fa fa-file"></i> CSV</button>
    </li>
</ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Added date</th>
                <th>Full name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of students">
                <td>{{s.email}}</td>
                <td>{{s.contactNo}}</td>
                <td>{{s.createdDate| date:'mediumDate'}}</td>
                <td>{{s.firstName}} {{s.lastName}}</td>
                <td>
                  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#update-modal" ng-click="selectedStudent(s)">
                    <span class="fa fa-pencil"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Added date</th>
                <th>Full name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->