<section class="content-header">
    <h1>
        Instructors
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
                <i class="fa fa-plus"></i> Add</button>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <!--table goes here-->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact no</th>
                                <th>Rate</th>
                                <th>Added Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of instructors">
                                <td>{{f.firstname}} {{f.lastname}}</td>
                                <td>{{f.email}}</td>
                                <td>{{f.contactNo}}</td>
                                <td>{{f.rate}}</td>
                                <td>{{f.date| date:medium}}</td>
                                <td>{{f.status}}</td>
                                <td>
                                    <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#insert-update-modal" (click)="showEditForm(f)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact no</th>
                                <th>Rate</th>
                                <th>Added Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


<div class="modal fade" id="insert-update-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{formTitle}}.</h4>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Firstname</label>
                            <input type="text" name="firstName" class="form-control" required="required" [(ngModel)]="formData.firstname" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Lastname</label>
                            <input type="text" name="lastName" class="form-control" required="required" [(ngModel)]="formData.lastname" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required="required" [(ngModel)]="formData.email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact no</label>
                            <input type="number" name="contactNo" class="form-control" required="required" [(ngModel)]="formData.contactNo" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Rate</label>
                            <input type="text" name="rate" class="form-control" required="required" [(ngModel)]="formData.rate" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="{{buttonName}}" class="btn btn-success btn-small btn-xs" data-dismiss="modal" (click)="save(formData)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>