<section class="content-header">
    <h1>
      Staffs
      <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#" data-toggle="modal" data-target="#insert-update-modal">
          <i class="fa fa-plus"></i> Add</a>
      </li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
  
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <!--table goes here-->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Branch Name</th>
                        <th>Added Date</th>
                        <th>Status</th>                                                                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of staffs">                                    
                        <td>{{s.user.username}}</td>
                        <td>{{s.branch.branchName}}</td>
                        <td>{{s.addedDate| date:'mediumDate'}}</td>
                        <td>{{s.status}}</td>                                                
                        <td><a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>                                            
                </tbody>
                <tfoot>
                    <tr>
                     <th>Username</th>
                        <th>Branch Name</th>
                        <th>Added Date</th>
                        <th>Status</th>                                                                        
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>                                        
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

  