<section class="content-header">
    <h1>
        Calender
        <small>Events details</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- create event modal goes here  -->
<div class="modal fade" id="create-event-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal-title" class="modal-title">Create event.</h4>
            </div>
            <div class="modal-body">
                <form id="createNewEventForm">  
                    <input type="hidden" name="id" id="eventId"/>
                    <input type="hidden" name="start" />
                    <input type="hidden" name="end"/>
                    <input type="hidden" name="color" id="color"/> 
                    <input type="hidden" name="allDay" />                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Enter title here." required="required"/>
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Time-range</label>
                            <input type="text" name="timeRange" class="form-control" readonly="readonly" />
                        </div>
                    </div>                                                         
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>                                    
                            <textarea class="form-control" rows="5" name="description" required="required">Description goes here.</textarea>
                        </div>
                    </div>  
                    <div class="col-md-12">                                  
                        <label>Choose event color</label>
                        <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                            <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                            <ul class="fc-color-picker" id="color-chooser">
                                <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                                <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                            </ul>
                        </div>
                    </div>   
                    <div class="col-md-12">                                 
                        <button type="submit" class="btn btn-success btn-small" id="add-new-event" (click)="saveEvent()" data-dismiss="modal">Add event</button> 
                        <button type="submit" class="btn btn-danger btn-small" id="delete-event" (click)="deleteEvent()" data-dismiss="modal">Delete</button>
                    </div>
                </form>                   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- create event modal ends here-->

<!-- error modal goes here  -->
<div class="modal fade" id="error-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>Can't select the past date.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- error modal ends here-->