<section class="content-header">
  <h1>
    Bank Vouchers
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" data-toggle="modal" data-target="#insert-update-modal" (click)="showAddForm()">
        <i class="fa fa-plus"></i> Add</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <!--table goes here-->
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Account no.</th>
                <th>Amount</th>
                <th>Voucher No.</th>
                <th>Added date</th>
                <th>Bank Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of bankVouchers">
                <td>{{b.bankId.accountno}}</td>
                <td>{{b.amount}}</td>
                <td>{{b.voucherNo}}</td>
                <td>{{b.addedDate}}</td>
                <td>{{b.bankId.bankName}}</td>
                <td>
                  <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Account no.</th>
                <th>Amount</th>
                <th>Voucher No.</th>
                <th>Added date</th>
                <th>Bank Name</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->